.whole{
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 80%;
    margin-left: 10%;
    border: 2px solid black;
}
.right{
    width: 70%;
}
.left{
    width: 30%;
}

.title{
    display: flex;
}

.price h3,.title h2,.title h3{
    margin: 4px;
}

.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.button{
    margin-right: 20px;
}